*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.navbar nav{
    
    text-align: right;
}
.navbar nav ul li{
    list-style:none;
    display: inline-block;
    margin-left: 50px;
}
.navbar nav ul li a:hover{
    color:rgb(17, 160, 32);
}